# Thư mục mặc định của Django
*.pyc
__pycache__/
db.sqlite3
media/
static/

# Virtual Environment
venv/
env/

# Thông tin nhạy cảm
config/settings_local.py

# ffmpeg (chuyển file .webm thành .mp3)
ffmpeg-2025-03-31-git-35c091f4b7-essentials_build/

spotify_songs.csv

__pycache__/
**/__pycache__/
**/migrations/
